/*
Error: Invalid CSS after "...mage: url(https": expected comma, was "://github.com/B..."
        on line 31 of style.scss

26:     padding-top: 20px;
27:     box-shadow: 0.278px 1.981px 39.56px 3.44px rgba(193, 192, 192, 0.83);
28:     text-align: center;
29:       div.avatar {
30:          background: #fff;
31:          background-image: url(https://github.com/BontalaKomboPrince/My-CV/blob/master/images/IMG_6992%20(1).jpg?raw=true);
32:         background-position: center;
33:         background-repeat: no-repeat;
34:          width: 150px;
35:          margin: 0 auto;
36:          height: 150px;

Backtrace:
style.scss:31
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/lexer.rb:231:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:572:in `arglist'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:558:in `fn_arglist'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:520:in `funcall'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:500:in `ident'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_not'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_div'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:474:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:415:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:339:in `expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:722:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/script/parser.rb:68:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1134:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:988:in `value!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:796:in `block in try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1254:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1254:in `rethrow'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:809:in `try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:732:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:697:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:678:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:697:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:678:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:697:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:678:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:670:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:696:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...mage: url(https\": expected comma, was \"://github.com/B...\"\A         on line 31 of style.scss\A \A 26:     padding-top: 20px;\A 27:     box-shadow: 0.278px 1.981px 39.56px 3.44px rgba(193, 192, 192, 0.83);\A 28:     text-align: center;\A 29:       div.avatar {\A 30:          background: #fff;\A 31:          background-image: url(https://github.com/BontalaKomboPrince/My-CV/blob/master/images/IMG_6992%20(1).jpg?raw=true);\A 32:         background-position: center;\A 33:         background-repeat: no-repeat;\A 34:          width: 150px;\A 35:          margin: 0 auto;\A 36:          height: 150px;"; }
